*.iml
.gradle
/local.properties
.DS_Store
/build/
/*/build/
/*/*/build/
/out/
/*/out/
/captures
.externalNativeBuild
.cxx
/.idea/gradle.xml
/buildSrc/build/
/.idea/
/projectFilesBackup/.idea/
!/.idea/scopes/*
/docs/api/
